<!DOCTYPE html>
<html {% if site.sg_language %} lang="{{ site.sg_language }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <title>{% if page.sg_title %}{{ page.sg_title }} | {% endif %}{{ site.sg_title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.sg_description }}{% endif %}">
    <meta name="keywords" content="{{ site.sg_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.sg_favicon }}">
    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.sg_styles }}" media="screen">
</head>
<body>
    <div class="sg-wrapper">
        <header class="sg-header">
            WELT <span class="sg-header__title">Living Styleguide</span>
        </header>
        <aside>
            {% include sidebar.html %}
        </aside>
        <div class="sg-content">
            {{ content }}
        </div>
    </div>
    <footer class="sg-footer">
        {% include footer.html %}
    </footer>
</body>
</html>